* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.chartMenu {
    width: 100vw;
    height: 40px;
    background: white;
    color: black
}

.chartMenu p {
    padding: 10px;
    font-size: 20px;
}

.chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px black;
    background: white;
}